.title-of-word {
    text-align: center; /* Центрируем заголовок */
    font-size: 50px; /* Размер шрифта для заголовка */
    margin-top: 100px; /* Отступы сверху и снизу */
    color: #333; /* Цвет текста */
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 100px;
    gap: 20px;
}

.section {
    background-color: white;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden; /* Чтобы содержимое не выходило за пределы секции */
}

.section-content {
    padding: 20px; /* Внутренние отступы секции */
}

.section-image {
    width: 250px;
    height: 250px; /* фиксированная высота для изображений */
    margin: 0 auto; /* Выравнивание по центру */
}

.section img {
    width: 100%; /* делаем ширину изображения 100% */
    height: auto; /* высота автоподстраивается */
    border-radius: 5px;
    display: block; /* убираем нижнее пространство под изображением */
}

.section-title {
    font-size: 50px;
    margin: 10px 0;
    color: #333;
}

.section-transcription {
    font-size: 40px; /* Размер шрифта для транскрипции */
    color: #666; /* Цвет для текста транскрипции */
    margin: 5px 0; /* Отступы */
}
.gif-container {
    display: flex; /* Flexbox для контейнера */
    justify-content: center; /* Центрирование по горизонтали */
    flex-wrap: wrap; /* Перенос на новую строку */
}
.section-gif{
    margin: 20px;
}
.section-gif img {
    max-width: 200px; /* Убедитесь, что GIF не выходит за пределы блока */
    height: auto; /* Автоматическая подстройка высоты для сохранения пропорций */
    border-radius: 5px; /* Радиус края, если нужно */
}
.close-container {
    position: fixed;
    display: flex;
    justify-content: flex-start; /* Выравнивание кнопки влево */
    margin-top: 20px; /* Отступ сверху */
    margin-left: 20px; /* Отступ слева */
}

.close-button {
    width: 200px; /* Фиксированная ширина кнопки */
    height: 60px; /* Фиксированная высота кнопки */
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста */
    font-size: 24px; /* Размер шрифта */
    padding: 0; /* Убираем внутренние отступы */
    border: none; /* Без границы */
    border-radius: 5px; /* Радиус углов */
    cursor: pointer; /* Указатель мыши */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.close-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}


