.title-of-word {
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    color: #333;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 100px;
    gap: 20px;
}

.section {
    background-color: white;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
}

.section-content {
    padding: 20px; 
}

.section-image {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

.section-title {
    font-size: 50px;
    margin: 10px 0;
    color: #333;
}

.section-transcription {
    font-size: 40px;
    color: #666;
    margin: 5px 0;
}

.gif-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.section-gif {
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
}

.gif-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.close-container {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.close-button {
    width: 200px; 
    height: 60px; 
    background-color: #007bff;
    color: white;
    font-size: 24px; 
    padding: 0; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #0056b3; 
}

@media (max-width: 768px) {
    .title-of-word {
        font-size: 30px;
    }

    .section-container {
        margin: 20px; 
    }

    .section {
        width: 100%;
        max-width: 600px;
    }

    .section-title {
        font-size: 30px; 
    }

    .section-transcription {
        font-size: 24px;
    }

    .section-image {
        width: 150px; 
        height: 150px; 
    }

    .gif-container {
        flex-wrap: nowrap;
        overflow-x: auto; 
    }

    .section-gif {
        flex: 0 0 auto; 
        width: 100px;
    }

    .gif-image {
        max-width: 100%;
    }

    .close-container {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        margin-top: -10px;
        margin-left: 10px;
    }

    .close-button {
        width: 70px; 
        font-size: 10px;
        height: 40px;
    }
}
